{% extends '_base.html' %}
{% load static %}

{% block title %}
Главная
{% endblock %}

{% block content %}

{% if carousel %}
<!-- Header -->
<header class="container px-5 mt-5">
    <div class="header-carousel owl-carousel">
        {% for c in carousel %}
        <div class="item">
            <div class="work-wrap d-md-flex">
                <div class="img order-md-last" style="background-image: url({{ c.thumbnail.url }});"></div>
                <div class="text p-4 px-xl-5 d-flex align-items-center">
                    <div class="desc w-100">
                        <h2 class="mb-4">{{ c.title }}</h2>
                        <p class="h5 mb-4">{{ c.body }}</p>
                        <a href="{{ c.url }}">
                            <button type="button" class="btn btn-dark mb-2 py-3 px-4">Перейти</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</header>
{% endif %}

{% if new_products %}
<section class="container px-5 mb-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom py-3">
        <h4 class="mb-0 pt-3 me-2">Новые поступления</h4>
        <div class="pt-3">
            <a class="btn btn-outline-accent btn-sm" href="{% url 'shop:product_list' %}">Больше
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="my-3">
        <div class="products owl-carousel owl-theme">
            {% for product in new_products %}
            <div class="mx-2">
                <div class="card">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.thumbnail.url }}" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <div class="product-card-info">
                            <h6 class="product-title">
                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                            </h6>
                            <div class="product-price">
                                <span class="text-primary">₸ {{ product.price }}</span>
                                {% if product.old_price %}
                                <del class="fs-sm text-muted">₸ {{ product.old_price }}</del>
                                {% endif %}
                            </div>
                            <form class="d-flex justify-content-center" action="{% url 'cart:cart_add' product.id %}" method="post">
                                {% csrf_token %}
                                {{ cart_product_form }}
                                <div class="product-cart-btn">
                                    <input class="btn btn-outline-dark btn-sm w-100" type="submit" value="Добавить в корзину">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<!--
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣴⣶⣿⣿⣷⣶⣄⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣾⣿⣿⡿⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢀⣾⣿⣿⡟⠁⣰⣿⣿⣿⡿⠿⠻⠿⣿⣿⣿⣿⣧⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⠏⠀⣴⣿⣿⣿⠉⠀⠀⠀⠀⠀⠈⢻⣿⣿⣇⠀⠀⠀
⠀⠀⠀⠀⢀⣠⣼⣿⣿⡏⠀⢠⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠈⣿⣿⣿⡀⠀⠀
⠀⠀⠀⣰⣿⣿⣿⣿⣿⡇⠀⢸⣿⣿⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⡇⠀⠀
⠀⠀⢰⣿⣿⡿⣿⣿⣿⡇⠀⠘⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⢀⣸⣿⣿⣿⠁⠀⠀
⠀⠀⣿⣿⣿⠁⣿⣿⣿⡇⠀⠀⠻⣿⣿⣿⣷⣶⣶⣶⣶⣶⣿⣿⣿⣿⠃⠀⠀⠀
⠀⢰⣿⣿⡇⠀⣿⣿⣿⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠁⠀⠀⠀⠀
⠀⢸⣿⣿⡇⠀⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠉⠛⠛⠛⠉⢉⣿⣿⠀⠀⠀⠀⠀⠀
⠀⢸⣿⣿⣇⠀⣿⣿⣿⠀⠀⠀⠀⠀⢀⣤⣤⣤⡀⠀⠀⢸⣿⣿⣿⣷⣦⠀⠀⠀
⠀⠀⢻⣿⣿⣶⣿⣿⣿⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⣦⡀⠀⠉⠉⠻⣿⣿⡇⠀⠀
⠀⠀⠀⠛⠿⣿⣿⣿⣿⣷⣤⡀⠀⠀⠀⠀⠈⠹⣿⣿⣇⣀⠀⣠⣾⣿⣿⡇⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣦⣤⣤⣤⣤⣾⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⢿⣿⣿⣿⣿⣿⣿⠿⠋⠉⠛⠋⠉⠉⠁⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠉⠉⠁⠀⠀⠀⠀⠀⠀ 
-->

{% include 'includes/remove_quantity.html' %}

{% endblock %}