{% extends '_base.html' %}

{% block title %} Результат {% endblock title %}
{% block content %}
<section class="container px-5 my-4">
        <h3 class="font-weight-bold pb-4"> 
            Результат поиска: {{ object_list|length }}
        </h3>
    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-start mx-2">
    {% for product in object_list %}
        <div class="col mb-4 px-2">
            <div class="card h-100">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.thumbnail.url }}" class="card-img-top">
                </a>
                <div class="card-body">
                    <div class="product-card-info justify-content-center">
                        <h6 class="product-title">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </h6>
                        <div class="product-price mb-3">
                            <span class="text-primary">₸ {{ product.price }}</span>
                            {% if product.old_price %}
                            <del class="fs-sm text-muted">₸ {{ product.old_price }}</del>
                            {% endif %}
                        </div>
                        <form class="d-flex justify-content-center" action="{% url 'cart:cart_add' product.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <input class="btn btn-outline-dark btn-sm w-100" type="submit" value="Добавить в корзину">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% include 'includes/pagination.html' %}
    {% include 'includes/remove_quantity.html' %}

{% endblock content %}