{% extends '_base.html' %}
{% load static %}
{% load shop_extras %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Все товары{% endif %}
{% endblock %}

{% block content %}
<section class="container px-5 my-4">
    <div class="row">

        <!-- Products -->
        <div class="col-sm-12 col-md-9">
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-start mx-2">
            {% for product in object_list %}
            <div class="col mb-4 px-2">
                <div class="card h-100">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.thumbnail.url }}" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <div class="product-card-info justify-content-center">
                            <h6 class="product-title">
                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                            </h6>
                            <div class="product-price mb-3">
                                <span class="text-primary">₸ {{ product.price }}</span>
                                {% if product.old_price %}
                                <del class="fs-sm text-muted">₸ {{ product.old_price }}</del>
                                {% endif %}
                            </div>
                            <form class="d-flex justify-content-center" action="{% url 'cart:cart_add' product.id %}" method="post">
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <input class="btn btn-outline-dark btn-sm w-100" type="submit" value="Добавить в корзину">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
            
            <!-- Pagination -->
            {% if page_obj.has_other_pages %}
            <nav aria-label="...">
                <ul class="pagination  flex-wrap justify-content-center">
                    {% if page_obj.has_previous %}

                    <li class="page-item">
                        <a class="page-link" href="{% pagination_url 1 'page' request.GET.urlencode %}">&laquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{% pagination_url page_obj.previous_page_number 'page' request.GET.urlencode %}">&#8249</a>
                    </li>
                    {% if page_obj.number|add:'-2' >= 2 %}
                    <li class="page-item">
                        <span class="page-link">• • •</span>
                    </li>

                    {% endif %}
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ i }}</a>
                    </li>
                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %} <li class="page-item">
                        <a class="page-link" href="{% pagination_url i 'page' request.GET.urlencode %}">{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %} <li class="page-item">
                        <span class="page-link">• • •</span>
                        </li>
                        {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="{% pagination_url page_obj.next_page_number 'page' request.GET.urlencode %}">&#8250;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{% pagination_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>

        <!-- Sidebar -->
        <div class="col-sm-12 col-md-3">
            <div class="bg-light p-3">
                <span class="fs-5 fw-semibold align-items-center pb-3 link-dark text-decoration-none border-bottom">Фильтр</span>
                <form class="form-group py-4 m-2 px-2" method="get">
                    {{ filter.form.as_p }}
                    <input type="submit" class="btn btn-outline-success btn-sm mb-3" value="Применить фильтр">
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'shop:product_list' %}">Сбросить Фильтр</a>
                </form>
            </div>
        </div>
    </div>

    <script>
        const selects = document.querySelectorAll("#id_quantity");
        selects.forEach((select) => {
            select.setAttribute("hidden", "hidden");
        });
    </script>

</section>

{% endblock %}